<div class="n-overlay" [ngClass]="{ open: isOpen }">
  <div class="n-component">
    <div class="n-contact-header">
      <img
        src="assets/images/traceline-logo-footer.png"
        class="n-contact-logo"
        alt="traceline"
      />
      <button
        class="n-close-button"
        (click)="closeComponent(); showFixedHeader();scrollNormal();"
        *ngIf="!isSubmitted"
      >
        Close
      </button>
    </div>
    <div class="n-text-contact" *ngIf="!isSubmitted">
      <div class="n-text-lets-talk" *ngIf="!isSubmitted">
        <span class="n-lets-talk">
          Step into the future of Manufacturing 4.0
        </span>
        <span class="n-fill-in-the-form">
          Traceline is the <b>complete</b> manufacturing OS that accelerates your
          transition into Industry 4.0, optimizing every facet of your processes
          and delivering outcomes beyond what you thought possible.
        </span>
      </div>
      <div class="n-vertical-line" *ngIf="!isSubmitted"></div>
      <div class="n-form-right">
        <div *ngIf="!isSubmitted" style="width: 100%;">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="width: 100%;">
            <div class="n-form-container">
              <label for="n-name" class="n-label">Your name</label>
              <input
                class="n-input-contact"
                type="text"
                id="n-name"
                placeholder="John Appleseed"
                formControlName="name"
              />
              <label for="n-email" class="n-label">Email</label>
              <input
                type="text"
                class="n-input-contact"
                id="n-email"
                placeholder="john@widet.co"
                formControlName="email"
              />
              <button
                class="n-button-contact"
                [disabled]="
                  isLoading ||
                  isFormSubmitted ||
                  (contactForm.dirty && contactForm.invalid)
                "
              >
                <span *ngIf="!isLoading">Submit</span>
                <span *ngIf="isLoading">
                  Loading...
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="isSubmitted">
      <div class="n-request-message">
        <div class="n-got-it">Got it.</div>
        <div class="n-recieved-email">
          We’ve received your email. Someone nice will read it and respond to you within 24 hours. Please smile, you’re looking nice today. And enjoy the rest of your Friday.
        </div>
        <button class="n-go-to-home" (click)="closeComponent(); showFixedHeader();scrollNormal();">
          Go back to homepage
        </button>
      </div>
    </div>
  </div>
</div>
