.n-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1000;
  // overflow: hidden;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom;
  opacity: 1;
}

.n-overlay.open {
  transform: scaleY(1);
}

.n-component {
  width: 100%;
  .n-contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 96px;
    .n-contact-logo {
      margin-left: 96px;
      width: 175px;
    }
    .n-close-button {
      display: inline-flex;
      padding: 18px 32px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 45px;
      background: #fff;
      margin-right: 96px;
      cursor: pointer;
      border: 0px;
      background-color: white;
    }
  }
}

.n-request-message {
  margin-left: 192px;
  margin-top: 190px;
  .n-got-it {
    color: #fff;
    font-family: Feature Display Trial;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 116.071% */
    max-width: 450px;
  }
  .n-recieved-email {
    color: #fff;
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    max-width: 457px;
    margin-top: 10px;
  }
  .n-go-to-home {
    width: 432px;
    height: 48px;
    border-radius: 8px;
    background: #ffda00;
    margin-top: 38px;
    color: #000;
    text-align: center;
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    cursor: pointer;
  }
}

.n-text-contact {
  display: flex;
  flex-direction: row;
  margin: 56px auto 0px;
  width: fit-content;
  gap: 80px;
  .n-text-lets-talk {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    max-width: 457px;
    .n-lets-talk {
      color: #fff;
      font-family: Feature Display Trial;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 65px; /* 116.071% */
    }
    .n-fill-in-the-form {
      color: #fff;
      font-family: Graphik;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
    }
  }
  .n-vertical-line {
    width: 2px;
    height: 400px;
    background-color: #fff;
  }
  .n-form-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .n-form-container {
      display: flex;
      flex-direction: column;
      .n-label {
        color: #9d9d9d;
        font-family: Graphik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        margin-bottom: 8px;

        // width: 330px;
      }
      .n-input-contact {
        width: 432px;
        height: 48px;
        border-radius: 8px;
        background: #171717;
        color: #9d9d9d;
        margin-bottom: 32px;
        border: none;
        padding: 16px 24px;
        box-sizing: border-box;
        outline: none;
      }
      .n-button-contact {
        width: 432px;
        height: 48px;
        border-radius: 8px;
        background: #ffda00;
        color: #000;
        text-align: center;
        font-family: Graphik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 100% */
        cursor: pointer;
      }
    }
    // .n-request-message {
    //   margin-left: 192px;
    //   .n-got-it {
    //     color: #fff;
    //     font-family: Feature Display Trial;
    //     font-size: 56px;
    //     font-style: normal;
    //     font-weight: 700;
    //     line-height: 65px; /* 116.071% */
    //     max-width: 450px;
    //   }
    //   .n-recieved-email {
    //     color: #fff;
    //     font-family: Graphik;
    //     font-size: 16px;
    //     font-style: normal;
    //     font-weight: 400;
    //     line-height: 22px; /* 137.5% */
    //     max-width: 457px;
    //   }
    //   .n-go-to-home {
    //     width: 432px;
    //     height: 48px;
    //     border-radius: 8px;
    //     background: #ffda00;
    //   }
    // }
  }
}

@media (min-width: 551px) and (max-width: 1250px) {

  .n-component {
    .n-contact-header {
      margin-top: 32px;
      .n-contact-logo {
        width: 130.695px;
        height: 32px;
        margin-left: 30px;
      }
      .n-close-button {
        display: flex;
        width: 85px;
        height: 32px;
        padding: 18px 32px;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
      }
    }

    .n-text-contact-container{
     height: 600px;
     overflow: scroll; 
    }
    .n-text-contact {
      flex-direction: column;
      margin: 64px 15px 0px;
      gap: 15px;
      height: fit-content;
      justify-content: flex-start;
      width: auto;
      align-items: center;
      .n-text-lets-talk {
        .n-lets-talk {
          max-width: 337px;
          color: #fff;
          font-family: Feature Display Trial;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px; /* 125% */
        }
        .n-fill-in-the-form {
          color: #fff;
          margin-top: 16px;
          font-family: Graphik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 137.5% */
          max-width: 343px;
        }
      }

      .n-vertical-line {
        width: 100%;
        height: 1px;
        background-color: #262626;
        margin-top: 32px;
      }
      .n-form-right {
        width: 100%;
        max-width: 500px;
        .n-form-container {
          width: 100%;

          .n-label {
            color: #9d9d9d;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
            margin-top: 32px;
            margin-bottom: 0px;
          }
          .n-input-contact {
            width: 100%;
            height: 48px;
            outline: none;
            border-radius: 4px;
            background: #171717;
            padding: 16px;
            box-sizing: border-box;
            margin-top: 8px;
            margin-bottom: 0px;
          }
          .n-button-contact {
            width: 100%;
            height: 48px;
            border-radius: 4px;
            background: #ffda00;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            margin-top: 32px;
            margin-bottom: 50px;
          }
        }
      }
    }
    .n-request-message {
      margin-top: 84px;
      margin-left: 30px;
      margin-right: 30px;
      .n-got-it {
        color: #fff;
        font-family: Feature Display Trial;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        max-width: 343px;
      }
      .n-recieved-email {
        color: #fff;
        font-family: Graphik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        max-width: 342px;
      }
      .n-go-to-home {
        max-width: 343px;
        width: 100%;
        height: 48px;
        border-radius: 4px;
        background: #ffda00;
      }
    }
  }

}

@media (max-width: 550px) {
  .n-component {
    .n-contact-header {
      margin-top: 32px;
      .n-contact-logo {
        width: 130.695px;
        height: 32px;
        margin-left: 15px;
      }
      .n-close-button {
        display: flex;
        width: 85px;
        height: 32px;
        padding: 18px 32px;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
      }
    }
    .n-text-contact-container{
      height: 600px;
      overflow: scroll; 
     }
    .n-text-contact {
      flex-direction: column;
      margin: 64px 15px 0px;
      gap: 15px;
      height: fit-content;
      justify-content: center;
      width: auto;
      .n-text-lets-talk {
        .n-lets-talk {
          max-width: 337px;
          color: #fff;
          font-family: Feature Display Trial;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px; /* 125% */
        }
        .n-fill-in-the-form {
          color: #fff;
          margin-top: 16px;
          font-family: Graphik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 137.5% */
          max-width: 343px;
        }
      }

      .n-vertical-line {
        width: 100%;
        height: 1px;
        background-color: #262626;
        margin-top: 32px;
      }
      .n-form-right {
        width: 100%;
        .n-form-container {
          width: 100%;
          .n-label {
            color: #9d9d9d;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
            margin-top: 32px;
            margin-bottom: 0px;
          }
          .n-input-contact {
            width: 100%;
            height: 48px;
            outline: none;
            border-radius: 4px;
            background: #171717;
            padding: 16px;
            box-sizing: border-box;
            margin-top: 8px;
            margin-bottom: 0px;
          }
          .n-button-contact {
            width: 100%;
            height: 48px;
            border-radius: 4px;
            background: #ffda00;
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            margin-top: 32px;
            margin-bottom: 50px;
          }
        }
      }
    }
    .n-request-message {
      margin-top: 84px;
      margin-left: 16px;
      margin-right: 16px;
      .n-got-it {
        color: #fff;
        font-family: Feature Display Trial;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        max-width: 343px;
      }
      .n-recieved-email {
        color: #fff;
        font-family: Graphik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        max-width: 342px;
      }
      .n-go-to-home {
        max-width: 343px;
        width: 100%;
        height: 48px;
        border-radius: 4px;
        background: #ffda00;
      }
    }
  }
}
