<div class="n-container">
  <div class="n-page-logo-contact" *ngIf="fixedHeader">
    <img
      src="assets/images/traceline-head-logo.png"
      alt="page-logo"
      class="n-page-logo"
      *ngIf="(scrollPosition < 90 && innerWidth > 850) || (scrollPosition < 50 && innerWidth < 850)"
    />
    <div *ngIf="(scrollPosition < 90 && innerWidth > 850) || (scrollPosition < 50 && innerWidth < 850) ">
      <button
        class="n-contact-button"
        (click)="animatedComponent.openComponent();hideFixedHeader();"
      >
        Schedule a call
      </button>
    </div>
    <div *ngIf="(scrollPosition > 90 && innerWidth> 850) || (scrollPosition > 50 && innerWidth < 850) " class="n-contact-fixed-header">
      Unleash Industry 4.0 with Traceline.
      <u
        class="n-contact-fixed-header-call"
        (click)="animatedComponent.openComponent(); hideFixedHeader();"
      >
        Schedule your call.
      </u>
    </div>
  </div>
  <div class="n-power-it-with-traceline" data-aos="fade-up">
    Manufacturing 4.0: Power it with Traceline.
  </div>
  <img
    src="assets/images/page-top-image.png"
    alt="power-it-with-traceline"
    class="n-page-top-image"
    data-aos="fade-up"
  />
  <div class="n-about-traceline" data-aos="fade-up">
    Traceline is the <span class="n-complete">complete</span> manufacturing OS
    that accelerates your transition into Industry 4.0, optimizing every facet
    of your processes and delivering outcomes beyond what you thought possible.
  </div>
  <button
    class="n-contact-button n-free-call"
    (click)="animatedComponent.openComponent();hideFixedHeader();"
    data-aos="fade-up"
  >
    Step into 4.0 – Request a free call
  </button>
  <img
    src="assets/images/arrow-down.png"
    alt="arrow-down"
    class="n-arrow-down"
    data-aos="fade-up"
  />
  <div class="n-traceline-points" data-aos="fade-up">
    <span class="n-traceline-point" *ngFor="let point of tracelinePoints">
      <img src="assets/images/tick.png" alt="" class="n-tick" />
      <span class="n-traceline-point-text">{{ point }}</span>
    </span>
  </div>
  <div class="n-white-background-page">
    <div class="n-trusted-by-the-best" data-aos="fade-up">Trusted by the best in the business</div>
    <div class="n-partners" data-aos="fade-up">
      <span *ngFor="let partner of partners">
        <img [src]="partner.src" alt="_partner_" [class]="partner.class"/>
      </span>
    </div>
    <div class="n-flex-row n-text-number-container">
      <div class="n-every-machine" data-aos="fade-up">
        <div id="paragraph-container">
        <span *ngFor="let word of paragraphArray">{{word}} </span>
        </div>
        <!-- Every machine, optimized to perfection. Raw materials? Always in perfect
        sync. Product defects? Now a distant memory. Supply chain insights. From
        start to finish. Predictive maintenance? Downtime minimized. With
        Traceline, precision meets foresight. Your warehouse, transformed
        digitally. Every data point? An avenue for growth. -->
        <br />
        <span style="color: #000"
          >Welcome to the next era of manufacturing.</span
        >
      </div>
      <div class="n-flex-column n-attributes">
        <div class="n-flex-column n-attribute" data-aos="fade-up">
          <span class="n-attribute-numbers">41%</span>
          <span class="n-attribute-text">Increased Efficiency</span>
        </div>
        <div class="n-flex-column n-attribute" data-aos="fade-up">
          <span class="n-attribute-numbers">25%</span>
          <span class="n-attribute-text">Waste Reduction</span>
        </div>
        <div class="n-flex-column n-attribute" data-aos="fade-up">
          <span class="n-attribute-numbers">65%</span>
          <span class="n-attribute-text">Faster Decision Making</span>
        </div>
        <div class="n-flex-column n-attribute" data-aos="fade-up">
          <span class="n-attribute-numbers">2x</span>
          <span class="n-attribute-text">Return on investment in one year</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="n-not-every-tool" data-aos="fade-up">
      Not every tool in the shed, just the ones to keep you ahead.
    </div>
    <div class="n-traceline-consolidates" data-aos="fade-up">
      Traceline consolidates every essential module, ensuring seamless
      operations and amplified productivity in your manufacturing journey. No
      more fragmented systems or scattered data; just streamlined success.
    </div>
    <div class="n-card-text-img-side" data-aos="fade-up">
      <div class="n-card-text">
        <div class="n-amplify-operations">
          Amplify operations with MES Mastery.
        </div>
        <div class="n-streamline-manufacturing">
          Streamline manufacturing processes with Traceline's MES. Achieve
          real-time monitoring, quality control, and full automation across
          various levels, from raw materials to finished goods.
        </div>
        <div class="n-we-can-help-you">We can help you with:</div>
        <ul class="n-we-can-help-you-list">
          <li>Real-Time Production Monitoring</li>
          <li>Enhanced Quality Control</li>
          <li>Raw Material Store Automation with FIFO Control</li>
          <li>Planning and Production Interfacing System</li>
          <li>WIP - Track and trace system with m/c integration</li>
          <li>FG Automation</li>
          <li>Digital Warehouse</li>
        </ul>
      </div>
      <img
        [src]="(innerWidth > 850) ? 'assets/images/guy-with-tablet.png' : 'assets/images/guy-with-tablet-mob.jpg' "
        alt="guy_with_tablet"
        class="n-guy-with-tablet"
      />
    </div>
  </div>
  <div
    class="n-flex-row n-flex-wrap n-card-holder"
  >
    <app-card
    class="n-app-card"
    [style]="(innerWidth < 850) ? 'width: 100%;' : ''"
    data-aos="fade-up"
      [cardContent]="{
        heading: 'Optimize Equipment Efficiency (OEE)',
        list: [
          'OEE measurement',
          'Proactive scheduling of preventive maintenance tasks',
          'Asset health and performance monitoring',
          'Real-time alerts for maintenance needs',
          'Automated Defect Detection and Prevention'
        ],
        description:
          'Maximize efficiency with Traceline\'s OEE module. Measure performance, schedule preventive maintenance, and monitor asset health to ensure optimal functioning.',
        cardStyle: {
          'background-image': 'url(assets/images/man-with-blue-cap.png)',
          'margin-top': '48px'
        }
      }"
    ></app-card>
    <app-card
    data-aos="fade-up"
    class="n-app-card"
    [style]="(innerWidth < 850) ? 'width: 100%;' : ''"
      [cardContent]="{
        heading: 'Aftermarket Services & Customer Engagement',
        list: [
          'Spare Parts Management',
          'Predictive Maintenance',
          'Technical Support and Training',
          'Equipment Upgrades and Retrofits',
          'Multi-Channel Support',
          'Customer Feedback and Analytics',
          'Personalized Marketing and Sales',
          'Customer Experience Management'
        ],
        description:
          'Build customer loyalty with Traceline\'s Aftermarket Services. From spare parts management to personalized marketing, create an exceptional customer experience.',
        cardStyle: {
          'background-image': 'url(assets/images/woman-working.png)',
          'margin-top': '48px'
        }
      }"
    ></app-card>
  </div>
  <div class="n-game-changer-sundaram" data-aos="fade-up">
    <div class="n-game-changer">“Game Changer”</div>
    <div class="n-sundaram">Sundaram Clayton</div>
  </div>
  <div class="n-card-text-img-side-2" data-aos="fade-up">
    <img
    [src]="(innerWidth > 850) ? 'assets/images/ship.png':'assets/images/ship-mob.jpg'"
      alt="ship_carrying_goods"
      class="n-ship-carrying-goods"
    />
    <div class="n-card-text-2">
      <div class="n-streamline-supply">Streamline Supply Chain & Logistics</div>
      <div class="n-enchance-your-supply">
        Enhance your supply chain with Traceline. Achieve real-time tracking,
        vendor management, and streamlined logistics for accurate and reliable
        processes.
      </div>
      <div class="n-we-can-help-you">We can help you with:</div>
      <ul class="n-we-can-help-you-list">
        <li>Real-time tracking and tracing of goods</li>
        <li>Custom built SAP extension for vendor management</li>
        <li>Enhanced visibility through vehicle GPS system</li>
        <li>Streamlined logistics operations for improved efficiency</li>
        <li>Accurate and reliable shipment processes</li>
      </ul>
    </div>
  </div>
  <div class="n-game-changer-sundaram" data-aos="fade-up">
    <div class="n-game-changer">“A Manufacturing Marvel”</div>
    <div class="n-sundaram">TVS Motors</div>
  </div>
  <div
    class="n-flex-row n-flex-wrap n-card-holder"
  >
    <app-card
    data-aos="fade-up"
    class="n-app-card"
    [style]="(innerWidth < 850) ? 'width: 100%;' : ''"
      [cardContent]="{
        heading: 'Field Service Management Platform',
        list: [
          'Smart Scheduling and Dispatch',
          'Automated Work Order Management',
          'Mobile Field Service',
          'Predictive Maintenance',
          'Real-Time Visibility',
          'Inventory Management',
          'Enhanced Training and Support',
          'Analytics and Reporting'
        ],
        description:
          'Empower your service teams with Traceline\'s Service Management Platform. Smart scheduling, predictive maintenance, and real-time visibility make service seamless.',
        cardStyle: {
          'background-image': 'url(assets/images/man-with-white-cap.png)',
          'margin-top': '72px'
        }
      }"
    ></app-card>
    <app-card
    data-aos="fade-up"
    class="n-app-card"
    [style]="(innerWidth < 850) ? 'width: 100%;' : ''"
      [cardContent]="{
        heading: 'Digital Core & Innovation',
        list: [
          'SAP Extensions',
          'Cloud Adoption',
          'Integrating IoT',
          'Private 5G',
          'AI and Machine Learning',
          'Cybersecurity',
          'Edge Computing'
        ],
        description:
          'Fuel innovation with Traceline\'s Digital Core. Utilize cutting-edge technologies such as IoT, AI, and cybersecurity to transform your manufacturing landscape.',
        cardStyle: {
          'background-image': 'url(assets/images/buildings-at-night.png)',
          'margin-top': '72px'
        }
      }"
    ></app-card>
  </div>
  <div class="n-card-text-img-side" style="margin-top: 72px" data-aos="fade-up">
    <div class="n-card-text">
      <div class="n-amplify-operations">
        Digital Warehouse Management System
      </div>
      <div class="n-streamline-manufacturing">
        Transform inventory management with Traceline's Digital Warehouse
        System. Optimize space, integrate systems, and gain real-time visibility
        into your inventory.
      </div>
      <div class="n-we-can-help-you">We can help you with:</div>
      <ul class="n-we-can-help-you-list">
        <li>Real-Time Inventory Management</li>
        <li>Order Fulfillment Optimization</li>
        <li>Real-Time Inventory Tracking</li>
        <li>Integration with Other Systems</li>
        <li>Space Optimization</li>
      </ul>
    </div>
    <img
    [src]="(innerWidth > 850) ? 'assets/images/smiling-man.png':'assets/images/smiling-man-mob.jpg'"
      alt="guy_with_tablet"
      class="n-guy-with-tablet"
    />
  </div>
  <div class="n-good-news-with-traceline">
    <div class="n-good-news" data-aos="fade-up">
      Good news? Everything ties back to SAP. In good way.
    </div>
    <div class="n-with-traceline" data-aos="fade-up">
      With Traceline, SAP integration isn't an afterthought—it's revolutionary.
      Witness a manufacturing transformation where data seamlessly synchronizes
      and processes sing in unison. This is the game-changer the industry's been
      waiting for. Welcome to the future of manufacturing excellence.
    </div>
    <img
      src="assets/images/three-people-looking-at-tablet.png"
      alt="three-people-looking-at-tablet"
      class="n-three-people-looking-at-tablet"
      data-aos="fade-up"
    />
  </div>
  <div class="n-flex-row n-roi-swinging-doodle">
    <div>
      <div class="n-maximize-your-roi" data-aos="fade-up">Maximize your ROI</div>
      <div class="n-with-traceline-youre" data-aos="fade-up">
        With Traceline, you're not just investing in software; you're ensuring a
        future of optimized manufacturing. And it's not just our word: industry
        studies have highlighted an impressive 320% ROI in just two years.
      </div>
    </div>
    <div class="n-flex-column n-swinging-doodles">
      <div class="n-flex-row n-swinging-doodle" data-aos="fade-up">
        <img
          src="assets/images/SwingingDoodle-1.png"
          alt="icon"
          class="n-swinging-doodle-img"
        />
        <div>
          <div class="n-swinging-doodle-heading">Improve time to value</div>
          <div class="n-swinging-doodle-description">
            Traceline is primed for action. Dive into Industry 4.0 without
            teething pains, ensuring streamlined manufacturing from day one.
          </div>
        </div>
      </div>
      <div class="n-flex-row n-swinging-doodle" data-aos="fade-up">
        <img
          src="assets/images/SwingingDoodle-2.png"
          alt="icon"
          class="n-swinging-doodle-img"
        />
        <div>
          <div class="n-swinging-doodle-heading">Keep costs low</div>
          <div class="n-swinging-doodle-description">
            Traceline isn't just top-tier tech; it's bottom-line brilliance.
            Eliminate extraneous systems, spend less, achieve more. Efficiency,
            now attainable and affordable.
          </div>
        </div>
      </div>
      <div class="n-flex-row n-swinging-doodle" data-aos="fade-up">
        <img
          src="assets/images/SwingingDoodle-3.png"
          alt="icon"
          class="n-swinging-doodle-img"
        />
        <div>
          <div class="n-swinging-doodle-heading">Improve time to value</div>
          <div class="n-swinging-doodle-description">
            In an era where sustainability is key, Traceline champions
            eco-friendly manufacturing. Streamlining processes, cutting waste,
            you advance towards a greener, responsible industry.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="n-horizontal-line" data-aos="fade-up"></div>
  <div class="n-step-into-future-contact">
    <div class="n-step-into-future" data-aos="fade-up">
      Step into the future of manufacturing 4.0 with Traceline.
    </div>
    <button class="n-stay-ahead" (click)="animatedComponent.openComponent();hideFixedHeader();" data-aos="fade-up">
      Stay ahead of the curve – Request a free call
    </button>
  </div>
  <app-contactus-footer data-aos="fade-up"></app-contactus-footer>
  <app-contact #animatedComponent [showFixedHeaderFunction]="showFixedHeader" ></app-contact>
</div>
