<div class="n-contactus-footer">
    <img src="assets/images/traceline-logo-footer.png" alt="traceline-logo-footer" class="n-traceline-logo-footer"/>
    <div class="n-footer-contact">
        <div class="n-contact-fetch-email" >
            <div *ngIf="!isFormSubmitted">
                <div class="n-we-will-email-you">We'll email you</div>
                <div class="n-question-pricing">Questions? Pricing? Anything?</div>
            </div>
            <div class="n-email-input-button" *ngIf="!isFormSubmitted">
                    <input
                      type="text"
                      placeholder="What's your email?"
                      class="n-email-input" 
                      [formControl]="email"
                    />
                    <button
                      class="n-email-submit-button"
                      (click)="onSubscribe()"
                      [disabled]="
                        isLoading || isFormSubmitted || (email.invalid && email.dirty)
                      "
                    >
                      <span *ngIf="!isLoading" >Submit</span>
                      <span *ngIf="isLoading">
                        Loading...
                        <span
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                      </span>
                    </button>
            </div>
            <div *ngIf="isFormSubmitted" class="n-thank-you">
                Thank you for subscribing.
              </div>
        </div>
        <div class="n-contact-info">
            <div class="n-contact-text">Contact</div>
            <div class="n-contact-email">Email : <u>info@netcon.in</u></div>
            <div class="n-contact-phone">Phone : <u>+91 99524 00291</u></div>
            <div class="n-social-text">Social</div>
            <div class="n-linkedin-twitter">
            <img src="assets/images/linkedin.png" alt="linkedin" class="n-linkedin"/>
            <img src="assets/images/twitter.png" alt="twitter" class="n-twitter" />
            </div>
        </div>
    </div>
    <div class="n-footer-bottom">
        <div class="n-policy-copyright">
            <div class="n-policies">
                <span class="n-policy">Privacy Policy</span>
                <span class="n-policy">Cookies Policy</span>
            </div>
            <div class="n-copyright">© Copyright 2022 Netcon Technologies. All rights reserved. All logos and trademarks used belong to their respective owners.</div>
        </div>
        <div class="n-powered-by-netcon">
            Powered by Netcon,  a digital transformation specialist
        </div>
    </div>
    <div class="n-footer-horizontal-line"></div>
</div>